.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 55px;
}
 
.header__img-link {
    text-decoration: none;
}

.header__img {
    width: 236px;
    height: 26px;
}

.header__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #83888F;
}

.header__list-item + .header__list-item {
    margin-left: 33px;   
}

.header__link--active {
    color: #000;
}

.header__link:hover {
    color: #000;
}
.header__link:active {
    color: #0000ff;
    box-shadow: 3px 3px 10px 5px #eee5cd;
}

.header__gam-menu {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__menu-cross {
    display: none;
}

@media only screen and (max-width:768px) {
    .header .container {
        padding-right: 30px;
        padding-left: 30px;
    }

    .header__img-link {
        margin-right: 10px;
    }

    .header__img {
        width: 203px;
        height: 24px;
    }
}

@media only screen and (max-width:650px) {
    .header .container {
        position: relative;
    }
    
    .header__gam-menu {
        display: inline-block;
    }

    .header__navigator {
        position: absolute;
        display: none;
        z-index: 99;
        top: 80%;
        left: 0;
        width: 100%;
        height: calc(100vh -125px);
        padding-top: 40px;
        padding-bottom: 100px;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    .header__list {
        flex-direction: column;
        align-items: center;
    }

    .header__list-item + .header__list-item {
        margin: 0;
        margin-top: 32px;
    }

    .header__link {
        font-size: 24px;
        line-height: 32px;
    }

    .header--active .header__navigator {
        display: block;
    }

    .header--active .header__menu-cross {
        display: block;
    }

    .header--active .header__menu-gam {
        display: none;
        color: #000;
    }
}

@media only screen and (max-width: 350px) {
    .header__img-link {
        width: 100%;
    }
    
    .header__img {
        width: 236px;
        height: 26px;
    }
    .header__link {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
    }
}


