.hero .container {
    padding-top: 117px;
    padding-bottom: 116px;
    padding-right: 702px;
    padding-left: 85px;
    background-image: url("./../images/main/Bitmap.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    background-position: center;
    
}

.hero__heading {
    font-family: "Fraunces", "Arial", sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin-top: 0;
    margin-bottom: 32px;
    width: 493px;
}

.hero_text {
    width: 425px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 56px;
}

.button {
    display: block;
    width: 217px;
    text-decoration: none;
    font-family: "Fraunces", "Arial", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    padding: 15px;
    text-align: center;
    color: #FEFCF7;
    background-color: #66D2CF;
    border-radius: 6px;
}

@media only screen and (max-width: 768px) {
    .hero .container {
        background-image: url(./../images/main/Bitmaptab.jpg);
        padding-top: 104px;
        padding-bottom: 103px;
        padding-right: 233px;
        padding-left: 58px;
        justify-content: center;
        width: 100%;
    }

    .hero__heading {
        font-size: 48px;
        line-height: 48px;
        width: 379px;
    }

    .hero_text {
        font-size: 15px;
        line-height: 25px;
        width: 398px;
    }
}

@media only screen and (max-width: 350px) {
    .hero .container {
        padding-top: 90px;
        padding-bottom: 99px;
        padding-right: 30px;
        padding-left: 30px;
        text-align: center;
        justify-content: center;
        background-image: url("./../images/main/Bitmap-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        background-position: center;
        margin-bottom: 120px;
        width: 100%;
    }
    
    .hero__heading {
        font-family: "Fraunces", "Arial", sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        color: #FEFCF7;
        margin-top: 0;
        margin-bottom: 24px;
        width: 279px;
    }
    
    .hero_text {
        width: 100%;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        line-height: 25px;
        color: #FEFCF7;
        opacity: 0.8;
        margin-top: 0;
        margin-bottom: 39px;
    }
    
    .button {
        display: inline-block;
        text-align: center;
        width: 217px;
        text-decoration: none;
        font-family: "Fraunces", "Arial", sans-serif;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        padding: 15px;
        text-align: center;
        color: #FEFCF7;
        background-color: #66D2CF;
        border-radius: 6px;
        width: 100%;
    }
}